/*Bloque de Inicio de Sesion*/
.box{
    background-color: brown;
    height: 450px;
    width: 400px;
    border: 1px solid;
    position: absolute;
    top: 300px;
    left: 30%;
}

.box h1{
    text-align: center;
}

.box ul{
    list-style: none;
    text-align: left;
}

.box label{
    font-size: 30px;
}

.box input{
   height: 40px;
   font-size: 25px; 
}

.box button{
    height: 40px;
    width: 100px;
    font-size: 20px;
}

.box a{
    border: 1px solid black;
    text-decoration: none;
    font-size: 25px;
    background-color: white;
}

/*La imagen*/
.logo{
    position: absolute;
    top: -150px;
    left: 51%;
}

img{
    height: 450px;
    width: 450px;
    margin: auto;
    margin-top: 100%;
}